In [1]:
# Dependencies
import requests


import pandas as pd
from pprint import pprint

from sqlalchemy import create_engine,inspect,extract
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

from config import api_key,pwd

import psycopg2

In [2]:
url = f"https://min-api.cryptocompare.com/data/v2/histohour?fsym=BTC&tsym=USD&limit=2000&toTs=-1&api_key={api_key}"
r = requests.get(url)
data = r.json()

In [3]:
df = pd.DataFrame(data['Data']['Data'])
df

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1636538400,67070.86,66653.61,66688.59,574.66,3.844478e+07,66795.93,direct,
1,1636542000,66896.45,66544.26,66795.93,762.63,5.089929e+07,66544.47,direct,
2,1636545600,66944.48,66273.52,66544.47,1055.99,7.027969e+07,66391.74,direct,
3,1636549200,67997.69,66041.73,66391.74,3776.71,2.532139e+08,67980.12,direct,
4,1636552800,68978.64,67926.02,67980.12,5081.25,3.477878e+08,68396.35,direct,
...,...,...,...,...,...,...,...,...,...
1996,1643724000,39061.81,38351.02,38897.64,3555.74,1.376438e+08,38516.25,direct,
1997,1643727600,38664.34,38208.18,38516.25,2553.93,9.804508e+07,38652.32,direct,
1998,1643731200,39281.06,38620.03,38652.32,3079.74,1.201878e+08,39155.00,direct,
1999,1643734800,39198.72,38683.31,39155.00,1970.38,7.666711e+07,38894.63,direct,
2000,1643738400,38899.95,38770.92,38894.63,328.06,1.273721e+07,38823.52,direct,

In [4]:
maxTs = df.iloc[0]['time']
limit = 2000
histo = 'histohour'
oldestTs = 1388563200
count = 0
while maxTs >= oldestTs:
    maxTs = df.iloc[0]['time']
    
   
    maxTs -= 1
    # API call with the oldest ts
    url = f"https://min-api.cryptocompare.com/data/v2/{histo}?fsym=BTC&tsym=USD&limit={limit}&toTs={maxTs}&api_key={api_key}"
    r = requests.get(url)
    data = r.json()
    price_df = pd.DataFrame(data['Data']['Data'])
    df = price_df.append(df)
    count += 1

In [4]:
Newdf = df[['time','high','low','open','volumefrom','volumeto','close','conversionType']].copy()
Newdf

,time,high,low,open,volumefrom,volumeto,close,conversionType
0,1636538400,67070.86,66653.61,66688.59,574.66,3.844478e+07,66795.93,direct
1,1636542000,66896.45,66544.26,66795.93,762.63,5.089929e+07,66544.47,direct
2,1636545600,66944.48,66273.52,66544.47,1055.99,7.027969e+07,66391.74,direct
3,1636549200,67997.69,66041.73,66391.74,3776.71,2.532139e+08,67980.12,direct
4,1636552800,68978.64,67926.02,67980.12,5081.25,3.477878e+08,68396.35,direct
...,...,...,...,...,...,...,...,...
1996,1643724000,39061.81,38351.02,38897.64,3555.74,1.376438e+08,38516.25,direct
1997,1643727600,38664.34,38208.18,38516.25,2553.93,9.804508e+07,38652.32,direct
1998,1643731200,39281.06,38620.03,38652.32,3079.74,1.201878e+08,39155.00,direct
1999,1643734800,39198.72,38683.31,39155.00,1970.38,7.666711e+07,38894.63,direct
2000,1643738400,38899.95,38770.92,38894.63,328.06,1.273721e+07,38823.52,direct

In [6]:
Newdf.dropna()

,time,high,low,open,volumefrom,volumeto,close,conversionType
0,1377162000,144.25,144.25,144.25,0.000,0.00,144.25,direct
1,1377165600,144.25,123.08,144.25,4.464,549.45,123.08,direct
2,1377169200,145.03,102.16,123.08,6.774,744.64,102.16,direct
3,1377172800,168.40,88.64,102.16,26.400,2575.50,168.40,direct
4,1377176400,168.40,115.06,168.40,22.410,2849.91,116.80,direct
...,...,...,...,...,...,...,...,...
1996,1643677200,38421.98,38201.69,38362.53,710.270,27215339.03,38264.38,direct
1997,1643680800,38525.31,38231.66,38264.38,639.720,24557756.74,38508.94,direct
1998,1643684400,38684.70,38423.24,38508.94,1065.710,41113747.85,38625.98,direct
1999,1643688000,38673.83,38500.68,38625.98,550.960,21261310.74,38583.28,direct
2000,1643691600,38604.62,38580.27,38583.28,23.960,924727.90,38598.45,direct

In [7]:


Newdf['timestamp_date'] = pd.to_datetime(Newdf['time'],unit = 's')
Newdf.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,timestamp_date
0,1377162000,144.25,144.25,144.25,0.000,0.00,144.25,direct,2013-08-22 09:00:00
1,1377165600,144.25,123.08,144.25,4.464,549.45,123.08,direct,2013-08-22 10:00:00
2,1377169200,145.03,102.16,123.08,6.774,744.64,102.16,direct,2013-08-22 11:00:00
3,1377172800,168.40,88.64,102.16,26.400,2575.50,168.40,direct,2013-08-22 12:00:00
4,1377176400,168.40,115.06,168.40,22.410,2849.91,116.80,direct,2013-08-22 13:00:00

In [8]:
Newdf['timestamp_Year'] = pd.to_datetime(Newdf['timestamp_date'],errors = 'ignore').dt.year
Newdf.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,timestamp_date,timestamp_Year
0,1377162000,144.25,144.25,144.25,0.000,0.00,144.25,direct,2013-08-22 09:00:00,2013
1,1377165600,144.25,123.08,144.25,4.464,549.45,123.08,direct,2013-08-22 10:00:00,2013
2,1377169200,145.03,102.16,123.08,6.774,744.64,102.16,direct,2013-08-22 11:00:00,2013
3,1377172800,168.40,88.64,102.16,26.400,2575.50,168.40,direct,2013-08-22 12:00:00,2013
4,1377176400,168.40,115.06,168.40,22.410,2849.91,116.80,direct,2013-08-22 13:00:00,2013

In [9]:
Crypto_df = Newdf[['high','low','open','close','timestamp_date']]
Crypto_df

          high       low      open     close      timestamp_date
0       144.25    144.25    144.25    144.25 2013-08-22 09:00:00
1       144.25    123.08    144.25    123.08 2013-08-22 10:00:00
2       145.03    102.16    123.08    102.16 2013-08-22 11:00:00
3       168.40     88.64    102.16    168.40 2013-08-22 12:00:00
4       168.40    115.06    168.40    116.80 2013-08-22 13:00:00
...        ...       ...       ...       ...                 ...
1996  38421.98  38201.69  38362.53  38264.38 2022-02-01 01:00:00
1997  38525.31  38231.66  38264.38  38508.94 2022-02-01 02:00:00
1998  38684.70  38423.24  38508.94  38625.98 2022-02-01 03:00:00
1999  38673.83  38500.68  38625.98  38583.28 2022-02-01 04:00:00
2000  38604.62  38580.27  38583.28  38598.45 2022-02-01 05:00:00

[74037 rows x 5 columns]

In [10]:
Crypto_df.tail(24)

          high       low      open     close      timestamp_date
1977  37092.86  36922.45  37027.72  36922.85 2022-01-31 06:00:00
1978  37215.17  36891.93  36922.85  37138.79 2022-01-31 07:00:00
1979  37239.73  37130.33  37138.79  37168.32 2022-01-31 08:00:00
1980  37267.92  37116.23  37168.32  37231.37 2022-01-31 09:00:00
1981  37357.00  37175.50  37231.37  37316.60 2022-01-31 10:00:00
1982  37355.52  36913.55  37316.60  37292.85 2022-01-31 11:00:00
1983  37419.24  36867.46  37292.85  37100.04 2022-01-31 12:00:00
1984  37378.11  36844.68  37100.04  37286.89 2022-01-31 13:00:00
1985  37537.51  37218.04  37286.89  37537.04 2022-01-31 14:00:00
1986  37911.21  37528.54  37537.04  37724.71 2022-01-31 15:00:00
1987  38420.21  37701.31  37724.71  38348.35 2022-01-31 16:00:00
1988  38627.35  38164.53  38348.35  38510.62 2022-01-31 17:00:00
1989  38618.38  38375.18  38510.62  38491.89 2022-01-31 18:00:00
1990  38769.81  38404.65  38491.89  38445.19 2022-01-31 19:00:00
1991  38590.88  38263.78  38445.19  38491.76 2022-01-31 20:00:00
1992  38603.71  38363.77  38491.76  38444.92 2022-01-31 21:00:00
1993  38750.82  38434.61  38444.92  38440.82 2022-01-31 22:00:00
1994  38539.65  38381.68  38440.82  38494.66 2022-01-31 23:00:00
1995  38649.48  38308.08  38494.66  38362.53 2022-02-01 00:00:00
1996  38421.98  38201.69  38362.53  38264.38 2022-02-01 01:00:00
1997  38525.31  38231.66  38264.38  38508.94 2022-02-01 02:00:00
1998  38684.70  38423.24  38508.94  38625.98 2022-02-01 03:00:00
1999  38673.83  38500.68  38625.98  38583.28 2022-02-01 04:00:00
2000  38604.62  38580.27  38583.28  38598.45 2022-02-01 05:00:00

In [11]:
Crypto_df.reset_index(drop=True, inplace=True)
Crypto_df.to_json('Crypto_hourly.json')

In [12]:
Newdf.insert(2,"Coin","BTC")

In [13]:
Newdf.insert(2,"Currency","USD")

In [14]:
Newdf.to_csv("Cryto_hourly.csv",index=False)

In [15]:
url = f"https://min-api.cryptocompare.com/data/v2/histoday?fsym=BTC&tsym=USD&limit=2000&toTs=-1&api_key={api_key}"
r = requests.get(url)
data = r.json()

In [16]:
df_daily = pd.DataFrame(data['Data']['Data'])
df_daily.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1470873600,599.15,585.39,590.94,39824.58,23640952.51,587.84,direct,
1,1470960000,591.14,582.20,587.84,25501.78,15009452.98,587.14,direct,
2,1471046400,590.07,582.81,587.14,19303.82,11357750.81,584.59,direct,
3,1471132800,585.80,559.93,584.59,33065.80,18970094.63,569.06,direct,
4,1471219200,574.97,559.28,569.06,33771.15,19218972.96,566.95,direct,

In [17]:
maxTs = df_daily.iloc[0]['time']
limit = 2000
histo = 'histoday'
oldestTs = 1388563200
count = 0

while maxTs >= oldestTs:

    maxTs = df_daily.iloc[0]['time']
    
    maxTs -= 1
    
    # API call with the oldest ts
    url = f"https://min-api.cryptocompare.com/data/v2/{histo}?fsym=BTC&tsym=USD&limit={limit}&toTs={maxTs}&api_key={api_key}"
    r = requests.get(url)
    data = r.json()
    price_df = pd.DataFrame(data['Data']['Data'])
    df_daily = price_df.append(df_daily)
    count += 1

In [18]:
df_daily = df_daily[df_daily['time'] >= 1388563200]
df_daily

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
1049,1388620800,886.21,810.47,815.94,12811.63,1.082691e+07,856.91,direct,
1050,1388707200,888.23,839.44,856.91,9709.01,8.409629e+06,884.26,direct,
1051,1388793600,932.16,848.32,884.26,14239.01,1.278463e+07,924.69,direct,
1052,1388880000,1029.86,911.36,924.69,21374.20,2.078936e+07,1014.74,direct,
1053,1388966400,1093.44,964.74,1014.74,23076.53,2.362224e+07,1012.65,direct,
...,...,...,...,...,...,...,...,...,...
1996,1643328000,38021.06,36176.78,37189.85,38853.31,1.439590e+09,37744.70,direct,
1997,1643414400,38728.29,37343.45,37744.70,24097.29,9.135516e+08,38184.86,direct,
1998,1643500800,38364.51,37377.53,38184.86,17354.80,6.581549e+08,37908.44,direct,
1999,1643587200,38769.81,36660.70,37908.44,34716.41,1.310843e+09,38494.66,direct,
2000,1643673600,38684.70,38201.69,38494.66,4009.51,1.542492e+08,38604.89,direct,

In [19]:
Newdf_daily = df_daily[['time','high','low','open','volumefrom','volumeto','close','conversionType']].copy()
Newdf_daily.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType
1049,1388620800,886.21,810.47,815.94,12811.63,10826907.96,856.91,direct
1050,1388707200,888.23,839.44,856.91,9709.01,8409629.11,884.26,direct
1051,1388793600,932.16,848.32,884.26,14239.01,12784626.88,924.69,direct
1052,1388880000,1029.86,911.36,924.69,21374.20,20789364.52,1014.74,direct
1053,1388966400,1093.44,964.74,1014.74,23076.53,23622237.65,1012.65,direct

In [20]:
Newdf_daily.insert(2,"Coin","BTC")

In [21]:
Newdf_daily.insert(2,"Currency","USD")

In [22]:
Newdf_daily.dropna()

,time,high,Currency,Coin,low,open,volumefrom,volumeto,close,conversionType
1049,1388620800,886.21,USD,BTC,810.47,815.94,12811.63,1.082691e+07,856.91,direct
1050,1388707200,888.23,USD,BTC,839.44,856.91,9709.01,8.409629e+06,884.26,direct
1051,1388793600,932.16,USD,BTC,848.32,884.26,14239.01,1.278463e+07,924.69,direct
1052,1388880000,1029.86,USD,BTC,911.36,924.69,21374.20,2.078936e+07,1014.74,direct
1053,1388966400,1093.44,USD,BTC,964.74,1014.74,23076.53,2.362224e+07,1012.65,direct
...,...,...,...,...,...,...,...,...,...,...
1996,1643328000,38021.06,USD,BTC,36176.78,37189.85,38853.31,1.439590e+09,37744.70,direct
1997,1643414400,38728.29,USD,BTC,37343.45,37744.70,24097.29,9.135516e+08,38184.86,direct
1998,1643500800,38364.51,USD,BTC,37377.53,38184.86,17354.80,6.581549e+08,37908.44,direct
1999,1643587200,38769.81,USD,BTC,36660.70,37908.44,34716.41,1.310843e+09,38494.66,direct
2000,1643673600,38684.70,USD,BTC,38201.69,38494.66,4009.51,1.542492e+08,38604.89,direct

In [23]:
Newdf_daily['timestamp_date'] = pd.to_datetime(Newdf_daily['time'],unit = 's')
Newdf_daily.head()

,time,high,Currency,Coin,low,open,volumefrom,volumeto,close,conversionType,timestamp_date
1049,1388620800,886.21,USD,BTC,810.47,815.94,12811.63,10826907.96,856.91,direct,2014-01-02
1050,1388707200,888.23,USD,BTC,839.44,856.91,9709.01,8409629.11,884.26,direct,2014-01-03
1051,1388793600,932.16,USD,BTC,848.32,884.26,14239.01,12784626.88,924.69,direct,2014-01-04
1052,1388880000,1029.86,USD,BTC,911.36,924.69,21374.20,20789364.52,1014.74,direct,2014-01-05
1053,1388966400,1093.44,USD,BTC,964.74,1014.74,23076.53,23622237.65,1012.65,direct,2014-01-06

In [24]:
Newdf_daily['timestamp_Year'] = pd.to_datetime(Newdf_daily['timestamp_date'],errors = 'ignore').dt.year
Newdf_daily

,time,high,Currency,Coin,low,open,volumefrom,volumeto,close,conversionType,timestamp_date,timestamp_Year
1049,1388620800,886.21,USD,BTC,810.47,815.94,12811.63,1.082691e+07,856.91,direct,2014-01-02,2014
1050,1388707200,888.23,USD,BTC,839.44,856.91,9709.01,8.409629e+06,884.26,direct,2014-01-03,2014
1051,1388793600,932.16,USD,BTC,848.32,884.26,14239.01,1.278463e+07,924.69,direct,2014-01-04,2014
1052,1388880000,1029.86,USD,BTC,911.36,924.69,21374.20,2.078936e+07,1014.74,direct,2014-01-05,2014
1053,1388966400,1093.44,USD,BTC,964.74,1014.74,23076.53,2.362224e+07,1012.65,direct,2014-01-06,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
1996,1643328000,38021.06,USD,BTC,36176.78,37189.85,38853.31,1.439590e+09,37744.70,direct,2022-01-28,2022
1997,1643414400,38728.29,USD,BTC,37343.45,37744.70,24097.29,9.135516e+08,38184.86,direct,2022-01-29,2022
1998,1643500800,38364.51,USD,BTC,37377.53,38184.86,17354.80,6.581549e+08,37908.44,direct,2022-01-30,2022
1999,1643587200,38769.81,USD,BTC,36660.70,37908.44,34716.41,1.310843e+09,38494.66,direct,2022-01-31,2022
2000,1643673600,38684.70,USD,BTC,38201.69,38494.66,4009.51,1.542492e+08,38604.89,direct,2022-02-01,2022

In [25]:
Newdf_daily.to_csv("Cryto_daily.csv",index=False)

In [64]:
Cryptodaily_df = Newdf_daily[['volumefrom','high','low','open','close','timestamp_date']]
Cryptodaily_df

      volumefrom      high       low      open     close timestamp_date
1049    12811.63    886.21    810.47    815.94    856.91     2014-01-02
1050     9709.01    888.23    839.44    856.91    884.26     2014-01-03
1051    14239.01    932.16    848.32    884.26    924.69     2014-01-04
1052    21374.20   1029.86    911.36    924.69   1014.74     2014-01-05
1053    23076.53   1093.44    964.74   1014.74   1012.65     2014-01-06
...          ...       ...       ...       ...       ...            ...
1996    38853.31  38021.06  36176.78  37189.85  37744.70     2022-01-28
1997    24097.29  38728.29  37343.45  37744.70  38184.86     2022-01-29
1998    17354.80  38364.51  37377.53  38184.86  37908.44     2022-01-30
1999    34716.41  38769.81  36660.70  37908.44  38494.66     2022-01-31
2000     4009.51  38684.70  38201.69  38494.66  38604.89     2022-02-01

[2953 rows x 6 columns]

In [61]:
Cryptodaily_df.sort_values(by='timestamp_date', ascending=False)
Cryptodaily_df

      volumefrom      high       low      open     close timestamp_date
1049    12811.63    886.21    810.47    815.94    856.91     2014-01-02
1050     9709.01    888.23    839.44    856.91    884.26     2014-01-03
1051    14239.01    932.16    848.32    884.26    924.69     2014-01-04
1052    21374.20   1029.86    911.36    924.69   1014.74     2014-01-05
1053    23076.53   1093.44    964.74   1014.74   1012.65     2014-01-06
...          ...       ...       ...       ...       ...            ...
1996    38853.31  38021.06  36176.78  37189.85  37744.70     2022-01-28
1997    24097.29  38728.29  37343.45  37744.70  38184.86     2022-01-29
1998    17354.80  38364.51  37377.53  38184.86  37908.44     2022-01-30
1999    34716.41  38769.81  36660.70  37908.44  38494.66     2022-01-31
2000     4009.51  38684.70  38201.69  38494.66  38604.89     2022-02-01

[2953 rows x 6 columns]

In [65]:
Cryptodaily_df.reset_index(drop=True, inplace=True)
Cryptodaily_df.to_json('Crypto_daily.json')

In [15]:
Newdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74037 entries, 0 to 2000
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   time            74037 non-null  int64
 1   high            74037 non-null  float64
 2   Currency        74037 non-null  object
 3   Coin            74037 non-null  object
 4   low             74037 non-null  float64
 5   open            74037 non-null  float64
 6   volumefrom      74037 non-null  float64
 7   volumeto        74037 non-null  float64
 8   close           74037 non-null  float64
 9   conversionType  74037 non-null  object
 10  timestamp_date  74037 non-null  datetime64[ns]
 11  timestamp_Year  74037 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(3)
memory usage: 7.3+ MB

In [45]:
from sqlalchemy import Column, Integer, String, Float,BigInteger,Boolean,Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import func
Base=declarative_base()

In [46]:
 class CryptoCurr(Base):
    __tablename__ = 'crypto_price'
    id = Column(Integer, primary_key=True)
    time = Column(Integer)
    high = Column(Float)
    Currency = Column(String)
    Coin = Column(String)
    low = Column(Float)
    open = Column(Float)
    volumefrom = Column(Float)
    volumeto = Column(Float)
    close = Column(Float)
    conversionType = Column(String)
    timestamp_date = Column(Date)
    timestamp_Year = Column(Integer)

In [47]:
engine = create_engine(f'postgresql://postgres:{pwd}@localhost:5432/Crypto_db')

In [48]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

[]

In [ ]:
#conn.execute("DROP TABLE crypto_price")

In [49]:
Newdf_daily.to_sql('crypto_price', con=engine,if_exists="append",index=False)
Base.metadata.create_all(engine)

In [50]:
Base.classes.keys()

[]

In [51]:
session = Session(bind=engine)

In [ ]:
CryptoCurr = Base.classes.crypto_price

In [52]:
#This query is get the Highest close price for all the data. 
results = session.query(func.date_part("Year",CryptoCurr.timestamp_date),func.Max(CryptoCurr.close - CryptoCurr.open)).\
          group_by(func.Date_Part("Year",CryptoCurr.timestamp_date)).limit(10).all() 

df = pd.DataFrame(results,columns=['Year','ClosePrice'])
print(df)

     Year  ClosePrice
0  2022.0     1540.04
1  2014.0      457.36
2  2019.0     1226.90
3  2018.0     1774.70
4  2020.0     1910.17
5  2015.0       44.86
6  2021.0     7568.59
7  2016.0       74.95
8  2017.0     3100.22

In [53]:
#This Result is to get the Total bitcoins traded after 2020 with high price and low price.
results = session.query((CryptoCurr.timestamp_date),func.Max(CryptoCurr.high),func.Min(CryptoCurr.low),CryptoCurr.open,CryptoCurr.close,func.SUM(CryptoCurr.volumefrom)).\
          filter(CryptoCurr.timestamp_date > '2020-01-01').\
          group_by(CryptoCurr.timestamp_date,CryptoCurr.open,CryptoCurr.close,CryptoCurr.volumefrom).\
          order_by(CryptoCurr.volumefrom.desc()).limit(50).all() 


df = pd.DataFrame(results,columns=['Date','high','low','open','close','volumefrom'])
df.head()

        Date      high       low      open     close  volumefrom
0 2020-03-13   5984.55   3948.92   4916.78   5632.58   319316.54
1 2021-05-19  43564.34  29925.20  42886.02  36771.87   290986.06
2 2020-03-12   7984.16   4736.21   7945.36   4916.78   286243.45
3 2021-01-11  38266.42  30308.40  38202.08  35496.03   240328.00
4 2020-03-16   5364.93   4454.22   5357.02   5045.00   203116.86

In [43]:
df['Date']=pd.to_datetime(df['Date']).astype(str)
df.reset_index(drop=True, inplace=True)
df.to_json(r'Data.json',orient='records')

In [54]:
#Latest Closing Price
results = session.query(CryptoCurr.timestamp_date,CryptoCurr.close).\
          order_by(CryptoCurr.timestamp_date.desc()).limit(1).all() 
print(results)

df = pd.DataFrame(results,columns=['Date','close'])
df.head()

[(datetime.datetime(2022, 2, 1, 0, 0), 38604.89)]

        Date     close
0 2022-02-01  38604.89

In [45]:
df['Date']=pd.to_datetime(df['Date']).astype(str)
df.reset_index(drop=True, inplace=True)
df.to_json(r'latestClosePrice.json',orient='records')

In [55]:
#All time high
results = session.query(func.Max(CryptoCurr.high)).\
          group_by(CryptoCurr.high).\
          order_by(CryptoCurr.high.desc()).limit(1).all()

df = pd.DataFrame(results,columns=['high'])
df.head()

       high
0  68978.64

In [55]:

df.to_json(r'Alltimehigh.json',orient='records')

In [56]:
#All time low price

results = session.query(func.Min(CryptoCurr.low)).\
          group_by(CryptoCurr.low).\
          order_by(CryptoCurr.low.asc()).limit(1).all()

df = pd.DataFrame(results,columns=['low'])
df.head()

     low
0  91.66

In [56]:

df.to_json(r'Alltimelow.json',orient='records')

In [57]:
#Latest Opening Price
results = session.query(CryptoCurr.timestamp_date,CryptoCurr.open).\
          order_by(CryptoCurr.timestamp_date.desc()).limit(1).all() 
print(results)

df = pd.DataFrame(results,columns=['Date','open'])
df.head()

[(datetime.datetime(2022, 2, 1, 0, 0), 38494.66)]

        Date      open
0 2022-02-01  38494.66

In [58]:
df['Date']=pd.to_datetime(df['Date']).astype(str)
df.reset_index(drop=True, inplace=True)
df.to_json(r'latestOpenPrice.json',orient='records')

In [58]:
#total volume for current date
results = session.query(CryptoCurr.timestamp_date,func.SUM(CryptoCurr.volumefrom)).\
          group_by(CryptoCurr.timestamp_date).\
          order_by(CryptoCurr.timestamp_date.desc()).limit(1).all()

df = pd.DataFrame(results,columns=['Date','Volume'])
df.head()

        Date   Volume
0 2022-02-01  4009.51

In [62]:
df['Date']=pd.to_datetime(df['Date']).astype(str)
df.reset_index(drop=True, inplace=True)
df.to_json(r'TotalVolume.json',orient='records')

In [ ]:
session.close()